*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.seção01cad {
    background-color: yellow;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
}
.titulo_site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px
}
.logo {
    width: 80px;
    height: 80px;
}
.titulo_site h1 {
    color: green;
    font-size: 80px;
    font-weight: bolder;
}
.dados_pessoais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titulo_cc {
    text-align: center;
}
.titulo_cc h1 {
    color: blue;
    font-size: 65px;
    font-weight: 1000;
}
.caixa_texto01 {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin: 8px;
    gap: 5px;
}
.caixa_texto01 input {
    border: solid black 1px;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px ;
    color: black
}
.cxemail {
    font-size: 25px;
    font-weight: 1000;
}
.botao_cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn03 {
    background-color: green;
    width: 175px;
    height: 70px;
    font-size: medium;
    border: solid yellow 3px;
    border-radius: 15px;
}
.btn03 a {
    font-weight: bolder;
    font-size: 25px;
    color: yellow
}
.btn03:hover {
    box-shadow: 0 0 12px yellow;
    background-color: yellow;
    border: solid 3px green;
}
.btn03:hover a{
    color: green;
}
.esq {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 85px 20px 0;
    gap: 20px;
    padding-left: 55px;
}
.esq a {
    color: blue;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s;
    text-align: center;
}
.esq a:hover {
    color: green;
}