*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    height: 250px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cabeçalho {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.foto_perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.foto_perfil p {
    color: yellow;
    font-size: 25px;
    font-weight: 1000;
}
.foto {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
    border: solid black 3px;
}
.aluno h1 {
    color: yellow;
    font-size: 50px;
    font-weight: 1000;
}
.seção01per {
    background-color: blue;
    height: 2200px;
}
.cadastrar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.titulo_site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px
}
.titulo_site h1 {
    color: green;
    font-size: 80px;
    font-weight: bolder;
}
.informações_pessoais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.informações_pessoais h1 {
    color: yellow;
}
.endereço {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.endereço h1 {
    color: yellow;
}
.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.contato h1 {
    color: yellow;
}
.titulo_cc {
    text-align: center;
}
.titulo_cc h1 {
    color: yellow;
    font-size: 65px;
    font-weight: 1000;
}
.caixa_texto {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin: 8px;
    gap: 5px;
}
.caixa_texto h2 {
    color: yellow;
}
.caixa_texto input {
    border: solid black 1px;
    border-radius: 5px;
    width: 450px;
    height: 50px;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px ;
    color: black
}
.btn01 {
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: yellow;
    border: solid 3px blue;
    border-radius: 10px;
    cursor: pointer;
}
.btn01:hover {
    box-shadow: 0 0 12px blue;
    background-color: blue;
    color: white;
    border: solid 3px white;
}
.btn01 a {
    color: blue;
    font-size: 18px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn01:hover a {
    color: white;
}