*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 50px;
}
.cabeçalho {
    margin-left: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}
.foto {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
    border: solid black 3px;
}
.aluno h1 {
    color: yellow;
    font-size: 50px;
    font-weight: 1000;
}
.area {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} 
.menu{
    height: 100%;
    width: 20%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cursos {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.curso {
    height: 600px;
    width: 250px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    border: solid green 5px;
    border-radius: 0 15px 0 15px;
    text-align: center;
}
.Mudanças_climáticas{
    background-image:  url('../img/MUDANÇAS\ CLIMATICA\ 1.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Energias_renováveis{
    background-image: url('../img/Energias\ renovaveis.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Gestão_de_resíduos{
    background-image: url('../img/GESTAODERESIDUOS\ 1.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Sustentabilidade{
    background-image: url('../img/sustentabilidade.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Biodiversidade{
    background-image: url('../img/biodiversidade.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.curso a {
    margin-top: 10px;
    color: yellow;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-style: italic;
}

.curso:hover {
    background-color: yellow;
    border: solid blue 5px;

}
.curso a:hover {
    color: green;
}
.curso p:hover {
    color: green;
}
.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.lista a {
    color: blue;
    font-weight: 700;
    font-size: 25px;
    transition: 0.3s;
}
.lista a:hover {
    color: green;
}
<<<<<<< HEAD
.Mudanças_climáticas{
    background-image:  url('../img/MUDANÇAS\ CLIMATICA\ 1.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Energias_renováveis{
    background-image: url('../img/Energias\ renovaveis.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Gestão_de_resíduos{
    background-image: url('../img/GESTAODERESIDUOS\ 1.png');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Sustentabilidade{
    background-image: url('../img/sustentabilidade.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.Biodiversidade{
    background-image: url('../img/biodiversidade.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
=======
>>>>>>> 0c53926fb0b080f17a898c5466325bf69a1466bf
