*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}
.login {
    width: 60%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titulo_site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px
}
.logo {
    width: 80px;
    height: 80px;
}
.titulo_site h1 {
    color: green;
    font-size: 80px;
    font-weight: bolder;
}
.azul {
    background-color: blue;
    width: 40%;
}
.informações_pessoais {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.dados_pessoais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titulo_cc h1 {
    color: blue;
    font-size: 65px;
    font-weight: 1000;
}
.caixa_texto01 {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin: 8px;
    gap: 5px;
}
.caixa_texto01 input {
    border: solid black 1px;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px ;
    color: black
}
.cxemail {
    font-size: 25px;
    font-weight: 1000;
}
.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.google button{
    width: 175px;
    height: 60px;
    border: solid black 1px;
    border-radius: 10px;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apple button{
    width: 175px;
    height: 60px;
    border: solid black 1px;
    border-radius: 10px;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.google button:hover {
    box-shadow: 0 0 12px green;
    background-color: white;
    border: solid 3px green;
}

.google button:hover a{
    color: yellow;
}
.apple button:hover {
    box-shadow: 0 0 12px green;
    background-color: white;
    border: solid 3px green;
}
.apple button:hover a{
    color: yellow;
}
.botao_cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn03 {
    background-color: green;
    width: 175px;
    height: 70px;
    font-size: medium;
    border: solid yellow 3px;
    border-radius: 15px;
}
.btn03 a {
    font-weight: bolder;
    font-size: 25px;
    color: yellow
}
.btn03:hover {
    box-shadow: 0 0 12px yellow;
    background-color: yellow;
    color: white;
    border: solid 3px green;
}
.btn03:hover a{
    color: green;
}
.esq {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 85px 20px 0;
}
.esq a {
    color: blue;
    font-size: 20px;
    font-weight: 900;
    transition: 0.3s;
}
.esq a:hover {
    color: green;
}